.rolloverExample {
  width:604px;
  height:188px;
  padding:0;
  margin:0 auto;
  list-style-type:none;
}
.rolloverExample * {
  float:left;
}
.rolloverExample li {
  padding:0 0 0 10px;
  margin:0;
}
