html {
  background:red;
}
* {
  margin:0;
  padding:0;
}
#switcher {
  position:fixed;
  right:0;
  top:0;
  padding:10px;
}
#count {
  position:fixed;
  left:10px;
  top:10px;
  padding:10px;
  font-size:3em;
}
#box {
  background:orange;
  position:absolute;
  left:10px;
  top:10px;
}
