h1 {
  font-size:1.6em;
  padding:0 0 .5em;
  margin:0;
}
h2 {
  font-size:1.3em;
  clear:both;
  margin:0;
  padding:.0 0 .5em;
}
form {
  width:200px;
  float:left;
  border:1px solid #000;
  position:relative;
  padding:10px;
  margin:0 0 1em;
}
form .result {
  position:absolute;
  left:240px;
  top:0;
  font-size:1.5em;
  white-space:nowrap;
  color:orange;
}
